@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
p {
  font-family: Lato;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
