.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4a4e69;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #f2e9e4;
  color: #4a4e69;
}
