.header{
	z-index: 10;
	position: fixed;
	background-color: #E5E5E5;
	width: 100%;
	top: 0;
	left: 0;
	color: #F15BB5;
}

/* .header a:hover{
	color: white;
	background-color: #F15BB5;
} */

.header a:visited{
	text-decoration: none;
	background-color: white;
	color: #F15BB5;
}

/* .header li:hover a:visited{
	background-color: #F15BB5;
  	color: white;
  	text-decoration: none;
} */

nav {
	margin: 20px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	border: black thick;
}

nav ul {
	display: flex;
	align-content: center;
}

nav ul li {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	display: inline;
}

.nav-svg {
	display: flex;
	gap: 10px;
}

svg {
	fill: rgb(235, 59, 188);
}

.item_count {
	position: relative;
	display: grid;
	place-items: center;
	background-color: red;
	z-index: 10;
	border-radius: 50%;
	font-size: 10px;
	height: 15px;
	width: 15px;
	top: -26%;
	right: -63%;
}
