.header {
	z-index: 10;
	position: fixed;
	background-color: grey;
	width: 100%;
	height: 70px;
}

nav {
	/* margin: 20px; */
	display: flex;
	justify-content: space-between;
	align-content: center;
	border: black thick;
}

nav ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

nav ul li {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	display: flex;
	align-items: center;
}

nav ul li div a {
	display: block;
	margin: auto 0;
}

.logo-contatiner {
	width: 50px;
	height: 50px;
}
.logo-contatiner > svg {
	width: 50px;
	height: 50px;
}
.nav-svg {
	display: flex;
	gap: 10px;
	align-items: center;
}
.cart-svg{
	position: relative;
	margin-right: 10px;
}


svg {
	fill: rgb(235, 59, 188);
}

.item_count {
	position: absolute;
	display: grid;
	place-items: center;
	background-color: red;
	color: white;
	z-index: 10;
	border-radius: 50%;
	font-size: 10px;
	height: 15px;
	width: 15px;
	right: 4px;
	bottom: 14px;
}
