#Product{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 20px 5%;
}

.carosel-container{
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.carousel{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img{
    width: 100%;
    height: auto;
}

.description{
    margin-left: 5%;
}

#Product button{
    margin: 10px 10px 10px auto;
}

.go-back{
    margin-left: 10px;
}

.description h2{
    margin: 10px auto;
}

.product-price{
    font-size: larger;
    margin-top: 10px;
    font-weight: 500;
}