#Product{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 20px 5%;
}

.carosel-container{
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.carousel{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img{
    width: 100%;
    height: auto;
}

.description{
    margin-left: 5%;
}

#Product button{
    color: #F15BB5;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    padding: 5px;
}

#Product button:hover{
    background-color: #F15BB5;
    color: white;
    cursor: pointer;
}


.description h2{
    margin: 10px auto;
}

.product-price{
    font-size: larger;
    margin-top: 10px;
    font-weight: 500;
}

#Product h1{
    font-size: xx-large;
    font-weight: 600;
}

#Product h2{
    font-size: larger;
    font-weight: 600;
}
