.home-div {
	/* transform: translate3d(0px, 0px, 0px);
	translate: none;
	rotate: none;
	scale: none;
	inset: 0px auto auto 0px;
	margin: 0px;
	max-width: 936px;
	width: 936px;
	max-height: 1008px;
	height: 1008px; 
	padding: 0px; */
}
