#CartLogin{
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
}

#loginForm, #registerForm, #guestForm{
    padding: 20px;
    margin: auto;
    border: 1px solid #e5e5e5;
    width: 400px;
}

#CartLogin button{
    text-align: center;
    margin-top: 10px;
}

input.checkbox{
    width: 15px;
    height: 15px;
}

#CartLogin h2{
    margin-bottom: 15px;
    text-align: center;
}

#CartLogin input{
    margin-left: 10px;
}

#CartLogin label{
    margin: 5px auto;
}