#CartLogin{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
}

@media (max-width: 150px) {
    #CartLogin {
        grid-template-columns: 1fr;
    }
}

#loginForm, #registerForm, #guestForm{
    padding: 30px;
    margin: auto;
    border: 1px solid #e5e5e5;
    width: 500px;
}

#CartLogin button{
    text-align: center;
    margin-top: 10px;
}

input.checkbox{
    width: 15px;
    height: 15px;
}

#CartLogin h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    margin-top: -10px;
}

#CartLogin label{
    font-size: large;
}

#CartLogin input{
    margin-left: 20px;
}

#CartLogin label{
    margin: 5px auto;
}