.card {
  width: 16rem;
  /* border-radius: 2px; */
  /* box-shadow: 0px 10px 8px #4a4e69; */
  box-shadow: 8px 8px 8px 8px #cbcccc;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: white;
  height: fit-content;
}

.card:hover {
  box-shadow: 8px 8px 8px 8px #4a4e69;
  width: 17rem;
}

.card-img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  height: 175px;
}

.card-title {
  width: 15rem;
  height: 5rem;
  margin: 0.5rem 2%;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
}

.card-description {
  margin: 0.5rem 5%;
  font-size: 15.9px;
}

.card-btn {
  text-align: center;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #9a8c98;
  text-decoration: none;
  margin: 10px auto;
}

.card-btn a:link {
  text-decoration: none;
  color: white;
}

.card-btn a:visited {
  text-decoration: none;
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  margin: auto 20px;
}
