.cart__wrapper_dropdown {
	position: fixed;
	top: 60px;
	right: 20px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid gray;
	padding: 10px;
	z-index: 10;
}
.cart__wrapper {

}
.cart__wrapper > div > i {
	width: 5px;
	height: 3px;
}

.cart__innerWrapper {
	height: max-content;
	max-height: 50vh;
	overflow-y: auto;
}

.cartTotal {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid gray;
}

.cartTotal {
	padding: 5px 0;
	margin-bottom: 5px;
	margin-left: 5px;

}


.fa-times-circle {
	color: gray;
	transition: transform 0.2s linear;
}

.fa-times-circle:hover {
	transform: rotate(90deg);
}
