.cart__wrapper > div > i {
	width: 5px;
	height: 3px;
}

.cart__innerWrapper {
	height: max-content;
	max-height: 50vh;
	overflow-y: auto;
}

.cartTotal {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cartTotal {
	padding: 5px 0;
	margin-bottom: 5px;
	margin-left: 5px;

}


.fa-times-circle {
	color: gray;
	transition: transform 0.2s linear;
}

.fa-times-circle:hover {
	transform: rotate(90deg);
}
