.header{
	z-index: 10;
	position: fixed;
	background-color: #ffff;
	width: 95%;
	top: 0;
	left: 0;
	right: 0;
}


.header a:visited {
	text-decoration: none;
	background-color: white;
	color: var(--clr-primary-900);
}
.header a:hover {
	color:var(--clr-primary-400)
}

nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

nav ul {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

nav ul li {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	display: flex;
	align-items: center;
}

nav ul li div a {
	display: block;
	margin: auto 0;
}

.logo-contatiner {
	width: 50px;
	height: 50px;
}
.logo-contatiner > svg {
	width: 50px;
	height: 50px;
}

.cart-svg{
	position: relative;
	margin-right: 10px;
}

nav svg {
	fill: var(--clr-primary-900);
}

nav svg:hover {
	fill: var(--clr-primary-400);
}

.item_count {
	position: absolute;
	display: grid;
	place-items: center;
	background-color: black;
	color: white;
	z-index: 10;
	border-radius: 50%;
	font-size: 10px;
	height: 15px;
	width: 15px;
	right: 4px;
	bottom: 14px;
}
