@keyframes marquee {
    0% {
      transform: translateX(-50%); /*start from left*/
    }
    100% {
      transform: translateX(120%); /*to right*/
    }
  }
  
  .marquee-animation {
    margin-top: 50px;
    animation: marquee 15s linear infinite; /* speed */
  }